<div class="quizPlayer">
    <div class="question" id="question"></div>
    <br />
    <div class="answer" id="answer"></div>
    <br />
    <div id="revealBtn">Reveal answer</div>
    <br />
    <button id="nextBtn" >next question</button>

</div>
<script src="~/js/quizPlayer.js"></script>